.hero-text {
    font-size: 4rem !important;
    // font-weight: bold;
    text-align: center;
    color: #ffffff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 20px;
    line-height: 1.2;
}